{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<h3 class="confirm-delete"> Are you sure you want to delete {{toy.name}}? </h3>
<div class="form">
<form action="{{ url_for('deleteToy',toystore_id=toystore_id, toy_id=toy.id)}}" method = 'post'>
<input  class="waves-effect waves-light btn" type='submit' value = 'Delete'>
<a class="cancel waves-effect waves-light btn" href = "{{ url_for('toyDescription',toystore_id=toystore_id, toy_id=toy.id)}}"> Cancel </a>

</form>
</div>
{% endblock %} 