{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<ul class="collection with-header">
    <li class="collection-header">
        {% if logged_in == True and authorised == True%}
            <div class="card-action" id="store-btns">
                <h4 id="store-login">Current Toys for {{store.name}}</h4>
                <a href="/toystores/{{store.id}}/add-toy" id="add-toy" class="waves-effect waves-light btn">Add Toy</a>
                <a href="/toystores/{{store.id}}/delete" id="delete-store" class="waves-effect waves-light btn">Delete Store</a>
                <a href="/toystores/{{store.id}}/edit" id="edit-store" class="waves-effect waves-light btn">Edit Store</a>
            </div>
            {% else %}
            <div class="card-action">
                <h4 id="store-login">Current Toys for {{store.name}}</h4>
                <a id="store-info-back" class="waves-effect waves-light btn" href="/toystores">Back</a> 
            </div>
            {% endif %}
    </li>
    {% for toy in storetoys %}
    <li class="collection-item">
        <a href="/toys/{{toy.toystore_id}}/{{toy.id}}" class="">{{toy.name}}</a>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}