{% extends "base.html" %} 
  {% block head %} 
    {{ super() }} 
  {% endblock %} 
  {% block content %}
    <div class="row toys">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{toy.name}}</span>
              <p>{{toy.description}}</p>
              <br>
              <p><b>Color:</b> {{toy.color}}</p>
              <br>
              <p><b>Price:</b> {{toy.price}}</p>
            </div>
            {% if logged_in == True and authorised == True%}
            <div class="card-action">
              <a <a href="/toys/{{toystore_id}}/{{toy.id}}/edit" id="edit-toy" class="waves-effect waves-light btn">Edit</a>
              <a href="/toys/{{toystore_id}}/{{toy.id}}/delete" id="delete-toy" class="waves-effect waves-light btn">Delete</a>
              <a href="/toystores/{{toystore_id}}/" id="back" class="waves-effect waves-light btn">Back to store</a>
            </div>
            {% else %}
            <div class="card-action">
              <a href="/toystores/{{toystore_id}}/" id="back" class="waves-effect waves-light btn">Back to store</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
<!--<h4>{{toy.name}}</h4>
<p>{{toy.description}}</p>-->

  <br> {% endblock %}